@using Microsoft.AspNetCore.Identity;
@using AppPeliculas.Models
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppPeliculas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="container-fluid mb-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Botón de colapso -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
           
                <!-- Contenido colapsable -->
                <div class="collapse navbar-collapse" id="navbarNav">

                    <!-- Bloque izquierdo -->
                    <ul class="navbar-nav me-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <span class="nav-link">
                                    @Context.User.Identity.Name<i class="fa fa-user"></i>
                                </span>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-action="CerrarSesion" asp-controller="Cuenta">
                                    <button type="submit" class="nav-link btn btn-link">
                                       Cerrar Sesión<i class="fa fa-lock"></i>
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Cuenta" asp-action="Registrarse">
                                    Registrarse <i class="fa fa-user-plus"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Cuenta" asp-action="IniciarSesion">
                                    Iniciar Sesión<il class="fa fa-unlock"></il>
                                </a>
                            </li>
                        }
                    </ul>

                    <!-- Aquí se alinea todo a la derecha con ms-auto -->
                    <ul class="navbar-nav ms-auto">
                        @if (Context.Session.ObtenerContador("Favoritos") > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pelicula" asp-action="Favoritos">
                                    Favoritos <i class="fas fa-star"></i> (@Context.Session.ObtenerContador("Favoritos"))
                                    </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Pelicula" asp-action="Index" >
                                Admin <i class="fa fa-user-shield"></i>
                            </a>
                       
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @* <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6  border mt-3 mb-3">
                <img class="img-fluid border rounded p-3" src="~/Imagenes/cartel.png" style="max-height:350px; width:100%" />
            </div>
            <div class="col-md-3"></div>
        </div> *@
        
        <h1 class="text-center text-dark bg-light mt-3 mb-3 p-3 ">Mi app de Peliculas</h1>
        <main>
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
